.display-area{
    border-radius: 25px;
    padding: 20px;
    width: 175px;
    height: 150px;
    resize: none;
    font-size: 3vw;
    text-align: center;
    color: white;
}

#more-info{
    border-radius: 15px;
    padding: 20px;
    color:grey;
    text-align: center;
}

#hours{
    background-color: red;
}

#minutes{
    background-color: green;
}

#seconds{
    background-color: goldenrod;
}

body{
    background-color: #28282B;
}